<div class="inventory-filters">
    <ul class="filter-list flexrow" data-filter="features">
        <li class="filter-title">{{localize "DND5E.FilterTitle"}}</li>
        <li class="filter-item" data-filter="action">{{localize "DND5E.FilterAction"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "DND5E.FilterBonus"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "DND5E.FilterReaction"}}</li>
    </ul>
</div>

<ol class="inventory-list">
{{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{section.label}}</h3>

        {{#if section.hasActions}}
        <div class="item-detail item-uses">{{localize "DND5E.Charges"}}</div>
        <div class="item-detail item-action">{{localize "DND5E.Usage"}}</div>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
            <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
        {{/if}}
    </li>

    <ol class="item-list">
    {{#each section.items as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item.id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>{{item.name}}</h4>
            </div>

            {{#if section.hasActions}}
            <div class="item-detail item-uses">
                {{#if item.data.uses.value}}
                {{item.data.uses.value}} / {{item.data.uses.max}}
                {{else if item.data.recharge.value}}
                {{#if item.isOnCooldown}}
                <a class="item-recharge rollable">{{item.labels.recharge}}</a>
                {{else}}
                {{localize "DND5E.Charged"}}
                {{/if}}
                {{/if}}
            </div>
            <div class="item-detail item-action">
                {{#if item.data.activation.type }}
                {{item.labels.activation}}
                {{/if}}
            </div>

            {{else if section.isClass}}
            <div class="item-detail player-class">
                {{item.data.subclass}}
            </div>
            <div class="item-detail">
                Level {{item.data.levels}}
            </div>
            {{/if}}

            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{/each}}
</ol>
